footer.footer{
    background: rgb(88,87,87);
    background: linear-gradient(90deg, rgba(88,87,87,1) 77%, rgba(255,189,0,1) 100%);
    padding: rem-calc(40 0);

    p{
        color:$white;
        margin-bottom:0;
    }
}
