header.header{

    .top-bar, .top-bar ul{
        background: $white;
    }

    .top-bar{

        li.menu-item{

            a{
                margin-bottom: rem-calc(10);
                color: #ffbd00;
            	border: solid rem-calc(2) #ffbd00;
                border-radius: rem-calc(5);
                margin-left: rem-calc(15);
                background: $white;
                transition: background .3s ease-in-out,
                            color .3s ease-in-out;

                &:hover{
                    background: #ffbd00;
                    color: $white;
                }
            }
        }

        .top-bar-left{

            .menu a{
                padding-left: 0;
                padding-right: 0;
            }
        }

        .top-bar-right ul{
            justify-content: flex-end;
        }

        .is-dropdown-submenu{
            border: 0 !important;
            top: 120% !important;
            right: rem-calc(20) !important;
            background: transparent;

            li{
                border-radius: rem-calc(5);
                margin-bottom: rem-calc(10);
            }


            a{
                margin-left: 0!important;
            }
        }

        .dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a:after{
            border-color: #ffbd00 transparent transparent;
        }
    }

    @include breakpoint(small down){
        .top-bar .top-bar-left, .top-bar .top-bar-right{
            flex: 0 0 auto;
        }

        .menu-icon{
            width: rem-calc(26);
        }

        .menu-icon:after,
        .menu-icon:hover:after{
            background: #f41b20;
            box-shadow: 0 8px 0 #f41b20, 0 16px 0 #f41b20;
            height: rem-calc(4);
        }

        .grid-container{
            padding:0;
            padding-right: rem-calc(10);
        }
	}

    .menu .active>a{
        color: #585757 !important;
    }
}

.hero{
    overflow: hidden;

    img{
        width: 100%;
        height: rem-calc(130);
        object-fit: cover;

        @include breakpoint(small down){
            height: rem-calc(90);
        }
    }
}

.off-canvas{
    background-color: $white;
    border-left: solid rem-calc(1) #ffbd00;

    .accordion-menu{
        margin-top: rem-calc(30);
        
        li{
            text-align: center;
        }
    }

    .menu .active>a, .menu .is-active>a{
        background-color: #ffbd00;
        padding: rem-calc(25 10)
    }
}

.position-right.is-transition-push{
    box-shadow: none;
}
