.blog{

    .article-header{

        .page-title{
            margin-top: rem-calc(40);
            margin-bottom: rem-calc(20);
        }
    }

    .archive-img{
        height: rem-calc(265);
        margin-bottom: rem-calc(20);

        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    article{

        header{

            h2{
                margin-bottom: 0;
            }
        }
    }
}

.single{

    .article-header{
        margin-bottom: rem-calc(20);

        h1{
            margin-bottom: 0;
            line-height: 1.2;
        }
    }

    .single-img{
        height: rem-calc(350);
        margin-bottom: rem-calc(30);

        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}
